<div class="container ">
    <h2> <img src="./assets/img/co-lideres.png" alt="" width="30" height="30" class="d-inline-block align-text-top"> Lideres</h2>

    <!-- Average -->
    <div class="container2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> Average</th>
                </tr>
            </thead>

            <tbody>
                <tr class="bg-secondary">
                    <th scope="row">.542</th>
                    <td colspan="2">Saul Rosario</td>
                    <td><img src="./assets/img/baseball-player.png" alt="" width="30" height="30" class="d-inline-block align-text-top"></td>
                </tr>
                <tr class="bg-light">
                    <th scope="row">.520</th>
                    <td colspan="2">Jeremy Arias</td>
                    <td><img src="./assets/img/baseball-player.png" alt="" width="30" height="30" class="d-inline-block align-text-top"></td>
                </tr>
                <tr class="bg-light">
                    <th scope="row">.519</th>
                    <td colspan="2">Darlin Almonte</td>
                    <td><img src="./assets/img/baseball-player.png" alt="" width="30" height="30" class="d-inline-block align-text-top"></td>
                </tr>
                <tr class="bg-light">
                    <th scope="row">.450</th>
                    <td colspan="2">Johander Cabrera</td>
                    <td><img src="./assets/img/baseball-player.png" alt="" width="30" height="30" class="d-inline-block align-text-top"></td>
                </tr>
                <tr class="bg-light">
                    <th scope="row">.300</th>
                    <td colspan="2">Harold Galarza</td>
                    <td><img src="./assets/img/baseball-player.png" alt="" width="30" height="30" class="d-inline-block align-text-top"></td>
                </tr>

            </tbody>
        </table>
    </div>


    <!-- Home Runs -->
    <div class="container2">
        <table class="table">
            <thead>
                <tr>
                    <th> Home Runs</th>
                </tr>
            </thead>

            <tbody>
                <tr class="bg-secondary">
                    <th scope="row">5</th>
                    <td colspan="2">Saul Rosario</td>
                    <td><img src="./assets/img/baseball-player.png" alt="" width="30" height="30" class="d-inline-block align-text-top"></td>
                </tr>
                <tr class="bg-light">
                    <th scope="row">4</th>
                    <td colspan="2">Jeremy Arias</td>
                    <td><img src="./assets/img/baseball-player.png" alt="" width="30" height="30" class="d-inline-block align-text-top"></td>
                </tr>
                <tr class="bg-light">
                    <th scope="row">2</th>
                    <td colspan="2">Darlin Almonte</td>
                    <td><img src="./assets/img/baseball-player.png" alt="" width="30" height="30" class="d-inline-block align-text-top"></td>
                </tr>
                <tr class="bg-light">
                    <th scope="row">1</th>
                    <td colspan="2">Johander Cabrera</td>
                    <td><img src="./assets/img/baseball-player.png" alt="" width="30" height="30" class="d-inline-block align-text-top"></td>
                </tr>
                <tr class="bg-light">
                    <th scope="row">1</th>
                    <td colspan="2">Harold Galarza</td>
                    <td><img src="./assets/img/baseball-player.png" alt="" width="30" height="30" class="d-inline-block align-text-top"></td>
                </tr>

            </tbody>
        </table>

    </div>
</div>